### Dataset generator with random numbers

In [1]:
# Importing necessary libraries
import numpy as np
import pandas as pd

In [2]:
# Function for generating csv files
def generate_csv(file_name, columns, rows):
    data = np.random.randint(1, 100, size=(rows, len(columns)))
    df = pd.DataFrame(data, columns=columns)
    df.to_csv(file_name, index=False)

In [3]:
# Creating two csv files with 1000 rows and four coulumns each

columns1 = ['A', 'B', 'C', 'D']
columns2 = ['E', 'F', 'G', 'H']
rows = 10000

generate_csv('dataset_1.csv', columns1, rows)
generate_csv('dataset_2.csv', columns2, rows)

In [5]:
# Reading the generated datasets
df_1 = pd.read_csv('dataset_1.csv')
df_1.head()

    A   B   C   D
0  22   5  43  84
1  39  49  70  22
2  38   2   2  71
3  64  97  15  27
4  38  87  14  57

In [6]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       10000 non-null  int64
 1   B       10000 non-null  int64
 2   C       10000 non-null  int64
 3   D       10000 non-null  int64
dtypes: int64(4)
memory usage: 312.6 KB

In [8]:
df_2 = pd.read_csv('dataset_2.csv')
df_2.head()

    E   F   G   H
0  33  75   5  59
1  89  14  89  46
2  21  54  62  55
3   3  17  50  72
4  42  51  91  98

In [9]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   E       10000 non-null  int64
 1   F       10000 non-null  int64
 2   G       10000 non-null  int64
 3   H       10000 non-null  int64
dtypes: int64(4)
memory usage: 312.6 KB