### Dataset generator with random numbers

In [1]:
# Importing necessary libraries
import numpy as np
import pandas as pd

In [2]:
# Function for generating csv files
def generate_csv(file_name, columns, rows):
    data = np.random.randint(1, 100, size=(rows, len(columns)))
    df = pd.DataFrame(data, columns=columns)
    df.to_csv(file_name, index=False)

In [3]:
# Creating two csv files with 1000 rows and four coulumns each

columns = ['A', 'B', 'C', 'D']
rows = 10000

generate_csv('dataset_1.csv', columns, rows)
generate_csv('dataset_2.csv', columns, rows)

In [4]:
# Reading the generated datasets
df_1 = pd.read_csv('dataset_1.csv')
df_1.head()

    A   B   C   D
0  85  94  56  93
1  80  83  39  99
2  41  11  92  64
3  90  85  24  27
4   3  69  58   5

In [5]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       10000 non-null  int64
 1   B       10000 non-null  int64
 2   C       10000 non-null  int64
 3   D       10000 non-null  int64
dtypes: int64(4)
memory usage: 312.6 KB

In [6]:
df_2 = pd.read_csv('dataset_2.csv')
df_2.head()

    A   B   C   D
0  87  46  11  75
1   8  35  67  92
2  55  50  33  25
3  69  32  85  99
4  96  31  69  41

In [7]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       10000 non-null  int64
 1   B       10000 non-null  int64
 2   C       10000 non-null  int64
 3   D       10000 non-null  int64
dtypes: int64(4)
memory usage: 312.6 KB