# Python API for CSV Manipulation - Demo

In [2]:
# Importing libraries
import pandas as pd
from decouple import config
import requests
import json

#### Input CSV Files

In [55]:
csv1_path = 'inputs\dataset_1.csv'
csv2_path = 'inputs\dataset_2.csv'

df_1 = pd.read_csv(csv1_path)
df_2 = pd.read_csv(csv2_path)

1. **CSV File 1**

In [56]:
df_1.head()

    A   B   C   D
0  85  94  56  93
1  80  83  39  99
2  41  11  92  64
3  90  85  24  27
4   3  69  58   5

In [7]:
df_1.shape

(10000, 4)

2. **CSV File 2**

In [57]:
df_2.head()

    A   B   C   D
0  87  46  11  75
1   8  35  67  92
2  55  50  33  25
3  69  32  85  99
4  96  31  69  41

In [9]:
df_2.shape

(10000, 4)

## API - Usage

Note - Using HTTP Protocol as HTTPS is certified with self-signed SSL Certificate

### 1. Checking working of API

In [25]:
# Sendign request to api index endpoint
url = 'http://3.108.61.108/'

response = requests.get(url)

In [26]:
# Checking the respone
response.json()

{'message': 'API is running succesfully'}

### 2. Sending CSV Files to the API with `/read_data` endpoint

In [71]:
# Endpoint url
url = 'http://3.108.61.108/read_data'

# API key
api_key = config('API_KEY') # Api accessed from environment variable (replace with your key)

headers = {
    'X-API-Key': api_key
}

In [72]:
# Uploading CSV files to the API
files = {'dataset_1': open(csv1_path, 'rb'), 'dataset_2': open(csv2_path, 'rb')}

response = requests.post(url, headers=headers, files=files)

In [73]:
# Checking the response from API
if response.status_code == 500:
    print(f"Error: {response.status_code} - {response.text}")

else:
    response_data = response.json()
    if response.status_code == 201:
        print(f'Success: {response.status_code}:', end=' ')
        if 'message' in response_data:
            print(f"- {response_data['message']}")

    else:
        print(f"Error: {response.status_code} - {response_data['detail']}")

Success: 201: - CSV files read and processed successfully

#### 3. Retreiving the Result DataFrames through `/get_results` endpoint

In [74]:
# Endpoint url
url = 'http://3.108.61.108/get_results'

# API key
api_key = config('API_KEY') # Api accessed from environment variable (replace with your key)

headers = {
    'X-API-Key': api_key
}

# Sending request to the endpoint
response = requests.get(url, headers=headers)

In [77]:
# Retrieving the result dataframes from API
if response.status_code == 500:
    print(f"Error: {response.status_code} - {response.text}")

else:
    response_data = response.json()
    if response.status_code == 200:

        result_1 = response_data.get('result_1')
        result_2 = response_data.get('result_2')

        print(f"Success: {response.status_code} - Result Dataframes retrieved successfully in JSON format")

    else:
        print(f"Error: {response.status_code} - {response_data['detail']}")

Success: 200 - Result Dataframes retrieved successfully in JSON format

**Checking the Result Dataframes**

In [78]:
# Result 1
result1_df = pd.DataFrame(result_1)
result1_df.head()

     E   F     G          H
0  179  -9  5208   0.602151
1  163  -3  3861   0.393939
2   52  30  5888   1.437500
3  175   5   648   0.888889
4   72 -66   290  11.600000

In [79]:
result1_df.shape

(10000, 4)

In [80]:
# Result 2
result2_df = pd.DataFrame(result_2)
result2_df.head()

     E   F     G         H
0  133  41   825  0.146667
1   43 -27  6164  0.728261
2  105   5   825  1.320000
3  101  37  8415  0.858586
4  127  65  2829  1.682927